* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Uchen', serif;
}

.all-content {
    background: #FFFFFF;
}

/* navbar */
#navbar {
    background-color: #87CEEB; 
    padding-left: 60px;
    font-weight: bold;
}

#logo {
    font-size: 23px;
    color: white;
}

    #logo img {
        margin-bottom: 15px;
    }

.navbar-nav {
    margin-left: 10px;
}

.nav-link {
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    margin-left: 15px;
    transition: 0.5s ease;
}

    .nav-link:hover {
        background-color: rgba(161,109,14,1);
        color: white;
        border-radius: 5px;
    }

.icons {
    margin-left: 30px;
}

    .icons img {
        margin-left: 10px;
        transition: 0.5s ease;
        cursor: pointer;
    }

        .icons img:hover {
            transform: translateY(-5px);
        }

@media screen and (max-width:330px) {
    #logo {
        font-size: 15px;
    }
}
/* navbar end */

/* home section */
.home {
    width: 100%;
    height: 88.5vh;
    display: flex;
    background-size: cover;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
}

    .home .content {
        flex: 1 1 400px;
        margin-left: 60px;
    }

.content h3 {
    color:#87CEEB;
    font-size: 60px;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}

.content h2 {
    font-size: 60px;
    color: #87CEEB;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
}

.changecontent::after {
    content: ' ';
    color: rgba(161,109,14,1);
    animation: changetext 10s infinite linear;
    font-weight: bold;
}

@keyframes changetext {
    0% {
        content: "Technology";
    }

    20% {
        content: "Sports";
    }

    50% {
        content: "Music";
    }

    60% {
        content: "Personal";
    }

    100% {
        content: "Entertainment";
    }
}

.content p {
    color: #87CEEB;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}

.content .btn {
    width: 110px;
    height: 38px;
    background-color: #573818;
    color: white;
}

@media screen and (max-width:800px) {
    .content h3 {
        font-size: 50px;
    }
}

@media screen and (max-width:860px) {
    .home {
        height: 120vh;
    }
}

@media screen and (max-width:560px) {
    .home {
